body {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    text-align: center;
}

form {
    /*background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    */
    background-color: rgba(241, 241, 241, 0.356);
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 3% 0;
    /*margin-top: 6rem;
    */
    border-radius: 5%;
    transition: transform 3s ease 10ms, margin 3s ease 10ms;
    -webkit-transition: transform 3s ease 10ms, margin 3s ease 10ms;
    -moz-transition: transform 3s ease 10ms, margin 3s ease 10ms;
    -ms-transition: transform 3s ease 10ms, margin 3s ease 10ms;
    -o-transition: transform 3s ease 10ms, margin 3s ease 10ms;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

form:hover {
    margin-top: 6rem;
    /* transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg); */
}

caption {
    padding-bottom: 10%;
    color: #f1f1f1
}

span {
    color: rgb(41, 107, 161);
}

input[type=text] {
    padding: 5% 0;
    border: none;
    border-bottom: 0.1vw solid #00DBDE;
    background-color: rgba(241, 241, 241, 0);
    border-radius: 0.2vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    -ms-border-radius: 0.2vw;
    -o-border-radius: 0.2vw;
}

input[type=password] {
    padding: 5% 0;
    border: none;
    border-bottom: 0.1vw solid #00DBDE;
    background-color: rgba(241, 241, 241, 0);
    border-radius: 0.2vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    -ms-border-radius: 0.2vw;
    -o-border-radius: 0.2vw;
}

input:focus {
    border: none!important;
    border: 0.1vw solid #00DBDE;
}

input:hover {
    border: none;
    border-bottom: 0.3vw solid #0f9799;
}

button {
    margin-top: 8%;
    width: 28%;
    height: 2vw;
    border: none;
    border-radius: 0.3vw;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    -webkit-border-radius: 0.3vw;
    -moz-border-radius: 0.3vw;
    -ms-border-radius: 0.3vw;
    -o-border-radius: 0.3vw;
}

button:hover {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #80D0C7 0%, #0093E9 100%);
    cursor: pointer;
}

a {
    text-decoration: none;
    line-height: 2;
}

.f {
    color: rgb(83, 82, 82);
}

.s {
    color: royalblue;
}

.s:hover {
    color: rgb(1, 44, 173);
    /* text-transform: uppercase; */
    font: bolder;
}

.f:hover {
    color: rgb(3, 3, 3);
    text-transform: uppercase;
}

@media screen and (max-width:861px) {
    form {
        width: 80%;
    }
    button {
        height: auto;
    }
}